#contact_extra
  %table
    %tr
      %td
        .label #{t :job_title}:
        = f.text_field :event
      %td= spacer
      %td
        .label #{t :department}:
        = f.text_field :property_type
    %tr
      %td
        .label #{t :alt_email}:
        = f.text_field :property_location
      %td= spacer
      %td
        .label #{t :mobile}:
        = f.text_field :services